<template name="CreateAvailability">
  <div class="create-availability">
    <h3>Create New Availability</h3>
    <!-- quickForm collection="Availabilities" id="insertAvailabilityForm" type="insert" buttonContent="Create" }} -->
    <!--<button type="button" id="drivers">Driver</button> -->
    <div class="form-group">
      <input id="driverinput" class="form-control typeahead" name="driverelement"
             type="text"
             placeholder="Available driver"
             autocomplete="off" spellcheck="off"
             data-source="drivers"/>
    </div>
  </div>
</template>