<template name="ListDrivers">
  <div class="list-drivers">
    <h1>All drivers</h1>
    {{#if drivers}}
  <!--  <table class="table table-hover">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Dob</th>
        <th>Mobile</th>
        <th>License no</th>
        <th>License expiry</th>
        <th>PCO license no</th>
        <th>PCO license expiry</th>
        <th>Insurance number</th>
        <th>Insurance expiry</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {{#each drivers}}
      <tr>
        <td>{{fname}}</td>
        <td>{{lname}}</td>
        <td>{{email}}</td>
        <td>{{gender}}</td>
        <td>{{dob}}</td>
        <td>{{mobile}}</td>
        <td>{{licensenumber}}</td>
        <td>{{licenseexpirydate}}</td>
        <td>{{pcolicensenumber}}</td>
        <td>{{pcolicenseexpirydate}}</td>
        <td>{{insurancenumber}}</td>
        <td>{{insuranceexpirydate}}</td>
        <td>{{#if addressline1}}
              {{addressline1}},
            {{/if}}
            {{#if addressline2}}
              {{addressline2}},
            {{/if}}
            {{#if city}}
              {{city}},
            {{/if}}
            {{#if state}}
              {{state}},
            {{/if}}
            {{#if postal}}
              {{postal}},
            {{/if}}
            {{#if country}}
              {{country}}
            {{/if}}
            </td>
        <td>Edit, Delete</td>
      </tr>
      {{/each}}
      </tbody>
    </table> -->
      {{> tabular table=TabularTables.Drivers class="table table-striped table-bordered table-condensed"}}
      {{else}}
      <div>There are no drivers</div>
    {{/if}}
  </div>
</template>


<template name="DriverActionsCell">
  <span class="glyphicon glyphicon-edit edit-driver-button cursor-pointer" aria-hidden="true" title="Edit"></span>
  {{#if status}}
    {{#if statusIs "Deactivated"}}
    <span class="glyphicon glyphicon-ok-circle activate-driver-button cursor-pointer" aria-hidden="true" title="Deactivate"></span>
    {{/if}}
    {{#if statusIs "Active"}}
    <span class="glyphicon glyphicon-ban-circle deactivate-driver-button cursor-pointer" aria-hidden="true" title="Activate"></span>
    {{/if}}

  {{else}}
    <span class="glyphicon glyphicon-ok approve-driver-button cursor-pointer" aria-hidden="true" title="Approve"></span>
  {{/if}}

  {{#unless statusIs "PendingDelete"}}
  <span class="glyphicon glyphicon-remove mark-for-deletion-driver-button cursor-pointer" aria-hidden="true" title="Mark for deletion"></span>
  {{/unless}}
</template>