<template name="ListAvailabilities">
  <div class="list-availabilities">
    <h1>Availablities</h1>
    {{#if availabilities}}
    {{> tabular table=TabularTables.Availabilities class="table table-striped table-bordered table-condensed"}}
    {{else}}
    <div>No Availabilities found.</div>
    {{/if}}
  </div>
</template>

<template name="AvailabilityActionsCell">

  <span class="glyphicon glyphicon-ban-circle remove-availability-button cursor-pointer" aria-hidden="true" title="Remove availability"></span>

</template>